* {
  font-family: 'Josefin Sans', sans-serif;
}

.navbar {
  background-color: #FFF !important;
}

.profile-picture {
  border-radius: 5%;
}

.masthead-subheading {
  color: #FFF;
}

.masthead-heading {
  color: #FFF;
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
}

 .navbar-nav li.nav-item a.nav-link {
   font-weight: 400;
 }

 .text-uppercase {
  font-family: 'Josefin Sans', sans-serif;
 }


 .fas, .fa-star {
   color: #000;
 }

 .footer-copyright-text {
   color: #fff;
 }

 .divider-custom-line-first, .divider-custom-line-first, . {
  color: #fff !important;
 }

 .check-code-button {
   margin-bottom: 2%;
 }

 .skills-icons {
  display: flex;
  justify-content: center;
 }

 #html-logo, #css-logo, #js-logo, #nodeJS-logo, #ejs-logo, #npm-logo, #expressJS-logo, #bootstrap-logo {
   height: 50px;
 }